@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Fraunces';
  src: url('assets/fonts/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vh;
}

.background {
  display: flex;
  background-color: hsl(30, 38%, 92%);

  height: 100%;
  width: 100%;
}

.card {
  display: flex;
  margin: auto;
  flex-direction: row;

  width: 650px;
  height: 450px;
  background-color: hsl(0, 0%, 100%);

  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(160, 160, 160, 0.199);
}

.product-image {
  width: 100%;
}

.product-image picture {
  height: 100%;
  width: 100%;
}

.product-image img {
  height: 100%;
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;

  width: calc(100% - 80px);
  height: calc(100% - 80px);
  margin: auto auto auto 40px;
}

.category {
  margin-bottom: 15px;

  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;

  text-transform: uppercase;
  letter-spacing: 5px;

  color: rgba(0, 0, 0, 0.699);
}

.product-name {
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 36px;

  padding-right: 15px;

  margin-bottom: 15px;
  color: black;
}

.product-description {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;

  padding-right: 40px;
  margin-bottom: 20px;

  line-height: 20px;
  word-spacing: 2px;

  color: rgba(0, 0, 0, 0.521);
}

.price-wrapper {
  display: flex;
  width: 100%;
}

.price {
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;

  color: rgba(13, 100, 51, 0.774);
  flex: 40%;
}

.original-price {
  padding-left: 15px;
  text-decoration: line-through;
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.699);

  flex: 50%;
  margin: auto;
}

.btn-wrapper {
  width: 100%;
  margin: 15px auto 0px auto;
}

.cart-btn-wrapper {
  display: flex;

  width: 85%;
  height: 50px;

  border-radius: 10px;
  background-color: rgba(13, 100, 51, 0.774);
}

.btn-wrapper-center {
  display: flex;
  margin: 0 auto;

  text-align: center;
  align-items: center;
  justify-content: center;
}

.cart-btn-wrapper:hover {
  cursor: pointer;
  background-color: rgba(9, 80, 39, 0.774);
}

.icon-wrapper {
  width: 16px;
  height: 16px;
}

.cart-btn-wrapper img {
  width: 100%;
  height: 100%;
}

.cart-btn-wrapper .cart-btn {
  margin-left: 10px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 600px) {
  html,
  body {
    min-height: 0vh;
    min-width: 0vh;
  }

  .card {
    flex-direction: column;
    margin: 30px 15px;

    height: calc(100% - 60px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .product-image img {
    border-radius: 10px 10px 0px 0px;
  }

  .product-card {
    margin: auto auto auto 20px;
    width: 100%;
  }

  .category {
    margin-top: 25px;
    font-size: 12px;
  }

  .product-name {
    font-size: 32px;
    padding-right: 40px;
  }

  .product-description {
    font-weight: 550;
    color: rgba(0, 0, 0, 0.418);
  }

  .original-price {
    padding-left: 0;
  }

  .btn-wrapper {
    margin-bottom: 15px;
  }
}
